.home{
  &__about{
    &__coverImg{
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 20px;
      border: 8px solid;
      border-color: #{$primary-color};
    }
    &__iconImg{
      position: relative;
      top: -12px;
    }
    &__title{
      color: #{$text-color};
      font-family: $font-secondary;
      font-weight: 700;
      line-height: (48/40);
      @include fluidx(40px,34px,font-size);
    }
    &__title1{
      color: #363636;
      @include fluidx(36px,30px,font-size);
      line-height: 1.56;
      font-weight: 700;
      font-family: $font-primary;
    }
    &__article{
      font-family: $font-primary;
      >*{
        color: rgba(38, 38, 38, 0.9);
      }
      p{
        strong{
          font-weight: 600;
        }
      }
    }
    &__btnMore{
      color: #{$text-color} !important;
      font-family: $font-primary;
      font-weight: 500;
      text-transform: inherit;
      background: #{$primary-color};
      .home__daotao__box &{
        background: #FFED4A;
        &:hover{
          background: rgba(#FFED4A,.8);
        }
      }
      $h:48px;
      @include media-breakpoint-up('m'){
        line-height: calc(#{$h} - 2px);
        border-radius: 8px;
      }
      &:hover{
        background: rgba($primary-color,.8);
      }
      svg{
        margin-left: 8px;
      }
    }
  }
  &__sectionbg{
    //background-color: #f5f5f5;
  }
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &__title1{
      margin: 0;
      @include fluidx(40px,34px,font-size);
      font-family: $font-secondary;
      font-weight: 700;
      line-height: (48/40);
      .old &{
        color: #{$primary-color};
      }
    }
    &__title2{
      color: #{$text-color};
      @include fluidx(36px,30px,font-size);
      line-height: 1.56;
      font-family: $font-primary;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:after{
        content: "";
        width: 120px;
        height: 3px;
        display: flex;
        margin-top: 12px;
        background: currentColor;
        .old &{
          background: #{$primary-color};
        }
      }
    }
  }
  &__thanhtuu{
    $x:80px;
    &__card{
      background: #{$primary-color};
      padding-top: 0;
      text-align: center;
      clip-path: polygon(50% #{$x}, 100% 0, 100% calc(100% - #{$x}), 50% 100%, 0 calc(100% - #{$x}), 0 0);
    }
    &__box{
      text-align: center;
    }
    &__boxCover{
      z-index: 20;
      //min-height: 590px;
      padding: 20px;
      padding-top: 0;
      padding-bottom: #{$x};

    }
    &__txt{
      color: #{$text-color};
      line-height: 1.75;
      font-family: $font-primary;
      font-weight: 500;
    }
    &__divider{
      height: 8px;
      background-color: #fff;
      position: relative;
      $w:40px;
      $y: calc(0px - 20px - (#{$w}/2));
      &:before{
        left: #{$y};
      }
      &:after{
        right: #{$y};
      }
      &:before,&:after{
        content: "";
        width: #{$w};
        height: #{$w};
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__title{
      color: #{$text-color};
      line-height: 1;
      @include fluidx(40px,34px,font-size);
      font-family: $font-primary;
      font-weight: 700;
    }
    &__box1{
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
      margin-top: -10px;
      &:before{
        content: "";
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 2px solid #{$primary-color};
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  &__daotao{
    &__gradient{
      background-color: rgba(253, 201, 72, 0.6);
    }
    &__tab{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      >li{
        @include media-breakpoint-up('m'){
          //justify-content: center;
          //display: flex;
        }
        >a{
          border-radius: 16px 16px 0px 0px;
          justify-content: center;
          height: 60px;
          box-sizing: border-box;
          background: #{$primary-color} !important;
          color: #{$text-color} !important;
          font-family: $font-primary;
          font-weight: 600;
          text-transform: inherit !important;
          //font-size: 24px !important;
          @include fluidx(24px,16px,font-size);
          @include media-breakpoint-up('m'){
            min-width: 400px;
          }
        }
        &.uk-active{
          >a{
            background-color: #FFED4A !important;
            &:after{
              content: "";
              width: 0;
              height: 0;
              $x:15px;
              border-left: #{$x} solid transparent;
              border-right: #{$x} solid transparent;

              border-top: #{$x} solid #FFED4A;
              top: calc(100% + 6px);
              position: absolute;
              z-index: 20;
            }
          }
        }
      }
    }
    &__box{
      //min-height: 480px;
      background-color: #{$primary-color};
      margin: 0 !important;
      border-top: 6px solid #FFED4A;
      $x:100px;
      &__img{
        position: relative;
        clip-path: polygon(#{$x} 0, 100% 0, 100% 100%, #{$x} 100%, 0 50%);
      }
      &__bg1{
        clip-path: polygon(#{$x} 0, 100% 0, 100% 100%, #{$x} 100%, 0 50%);
        background-color: #FFED4A;
        left: -17px;
      }
      &__bg2{
        $y:calc(#{$x} - 6px);
        clip-path: polygon(#{$y} 0, 100% 0, 100% 100%, #{$y} 100%, 0 50%);
        left: calc(0px - (17px + 25px));
        background: #3E9E82;
      }
      &__bg3{
        $y:calc(#{$x} - 10px);
        clip-path: polygon(#{$y} 0, 100% 0, 100% 100%, #{$y} 100%, 0 50%);
        left: calc(0px - (17px + 25px + 30px));
        background-color: #FFED4A;
      }
      &__txt{
        line-height: 1.75;
        color: #{$text-color};
        font-family: $font-primary;
      }
      .uk-slider-container{
        background-color: #{$primary-color};
        position: relative;
        z-index: 10;
      }
      &__nav{
        $w1:80px;
        width: #{$w1};
        height: #{$w1};
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: #fff;
        padding: 15px;
        &.uk-invisible{
          visibility: visible !important;
          cursor: not-allowed;
        }
        &--previous{
          right: calc(100% - (#{$w1}/2) - 15px);
          background: #FDC948;
          &.uk-invisible{
            background: rgba(206, 206, 206, 0.8);
          }
        }
        &--next{
          justify-content: right;
          left: calc(100% - (#{$w1}/2) - 15px);
          background: #FDC948;
          &.uk-invisible{
            background: rgba(206, 206, 206, 0.8);
          }
        }
      }
    }
  }
  &__giangvien{

  }
  &__cbn{
    &__icon{
      left: 100%;
      width: max-content;
      bottom: 15px;
    }
  }
  &__tailieu{
    background: #FEF5D8;
    &__icon{
      right: 100%;
      width: max-content;
      bottom: 0;
    }
  }
  &__tintuc{
    &__overflow{
      &__boxSpace{
        margin-left: -15px;
        margin-right: -15px;
        @include media-breakpoint-up('m'){
          margin-left: 0;
          margin-right: 0;
        }
      }
      &__scrollbar{
        &::-webkit-scrollbar{
          display: none;
        }
      }
      &__grid{

      }
      &__column{
        @include media-breakpoint-down('s'){
          $x:15px;
          &:first-child{
            margin-left: #{$x};
          }
          &:last-child{
            padding-right: #{$x};
          }
        }
      }
      &__width{
        width: 360px;
        @include media-breakpoint-up('m'){
          width: 100%;
        }
      }
    }
    &__title1{
      //font-size: 28px;
      @include fluidx(28px,23px,font-size);
      text-transform: uppercase;
      color: #{$text-color};
      font-family: $font-primary;
      font-weight: 600;
      border-bottom: 2px solid #EFEFEF;
      padding-bottom: 10px;
    }
    &__title2{
      line-height: 1.75;
      font-size: 16px;
      font-family: $font-primary;
      font-weight: 400;
      a{
        color: #{$text-color};
      }
    }
    &__time{
      color: #{$primary-color};
      font-size: 14px;
      font-family: $font-primary;
      line-height: 1;
      svg{
        margin-right: 8px;
      }
    }
    &__coverImg{

    }
  }
}