.footer{
  &__form{
    &__legend{
      color: #666666;
      font-size: 14px;
      font-family: $font-primary;
      font-style: italic;
      line-height: 1.75;
      font-weight: 400;
      @include media-breakpoint-up('m'){
        font-size: 16px;
      }
    }
    &__label{
      color: #{$text-color};
      font-family: $font-primary;
      font-size: 14px;
      @include media-breakpoint-up('m'){
        font-size: 16px;
      }
    }
    &__input{
      background: #FAFAFA;
      border-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      font-size: 14px;
      font-style: italic;
      @include media-breakpoint-up('m'){
        min-height: 48px;
        border-radius: 8px;
      }
      &:focus{
        border-color: #{$primary-color};
      }
    }
    &__btnSubmit{
      $h:48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #{$primary-color};
      color: #{$text-color};
      text-transform: inherit;
      font-weight: 500;
      font-family: $font-primary;
      @include media-breakpoint-up('m'){
        line-height: calc(#{$h} - 2px);
        border-radius: 8px;
      }
      &:hover{
        background: rgba($primary-color, .8);
      }
      svg{
        margin-left: 8px;
      }
    }
  }
  &__accordion{
    &__title{
      @extend .footer__top__title;
      padding-bottom: 0 !important;
      line-height: inherit !important;
      &:after{
        display: none !important;
      }
      &:before{
        transition: transform .3s ease-out;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23000' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E") !important;
        .uk-open> &{
          transform: rotateX(180deg);
        }
      }
      &:hover{
        color: #{$text-color};
      }
    }
    &__content{

    }
  }
  &__top{
    background-color: #{$primary-color};
    @include media-breakpoint-up('m'){
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &__title{
      line-height: 1;
      color: #{$text-color};
      font-family: $font-primary;
      font-weight: 600;
      //@extend .fz-24;
      padding-bottom: 15px;
      @include fluidx(24px,21px,font-size);
      @include media-breakpoint-up('m'){
        padding-bottom: 20px;
      }
      &:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120px;
        height: 2px;
        display: flex;
        background-color: currentColor;
      }
    }
    &__txt{
      line-height: 1.75;
      font-family: $font-primary;
      color: #{$text-color};
      font-size: 14px;
      @include media-breakpoint-up('m'){
        font-size: 16px;
      }
      strong{
        color: #BD2411;
      }
      span{
        color: #BD2411;
      }
    }
    &__card{
      background: #{$secondary-color};
      backdrop-filter: blur(16px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 20px;
    }
  }
  &__bottom{
    background-color: #{$secondary-color};
    &__item{
      //min-height: 54px;
      @include fluidx(54px,40px,min-height);
    }
    &__txt{
      color: rgba(38, 38, 38, 0.6);
      font-family: $font-primary;
      line-height: 1;
    }
    .uk-navbar{
      @include media-breakpoint-down('s'){
        flex-direction: column;
      }
    }
    .uk-navbar-item{
      @extend .footer__bottom__item;
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .footer__bottom__item;
          text-transform: inherit;
          color: #{$text-color};
          font-family: $font-primary;
        }
        &:hover{
          >a{
            color: #666;
          }
        }
      }
    }
  }
}