.header{
  border-bottom: 2px solid #{$text-color};
  background: #{$body-color};
  z-index: 981;
  &__item{
    @include fluidx(116px,60px,min-height);
    .uk-sticky-below &{
      //transition: min-height .3s ease-in;
      @include media-breakpoint-up('m'){
        //min-height: 80px !important;
      }
    }
  }
  &__active{
    color: #{$primary-color};
    svg{
      image{
        filter: invert(98%) sepia(82%) saturate(6661%) hue-rotate(319deg) brightness(101%) contrast(99%);
      }
    }
  }
  &__btnLogin{
    background: #{$primary-color};
    border-radius: 5px;
    color: #{$text-color} !important;
    text-transform: inherit;
    font-family: $font-primary;
    font-weight: 500;
    padding: 0 15px;
    $h:64px;
    @include media-breakpoint-up('m'){
      line-height: calc(#{$h} - 2px);
      border-radius: 8px;
      padding: 0 30px;
    }
    &:hover{
      background: rgba($primary-color,.8);
    }
  }
  .uk-logo{
    img{
      @include fluidx(70px,40px,height);
    }
  }
  .uk-navbar-toggle,
  .uk-navbar-item{
    @extend .header__item;
  }
  .uk-navbar-right{
    @include media-breakpoint-up('m'){
      gap: 20px;
    }
  }
  .uk-navbar-dropdown{
    padding: 0;
    background: #{$primary-color};
    border-radius: 5px;
  }
  .uk-nav{
    >li{
      >a{
        padding: 15px 20px;
        color: #{$text-color};
        font-family: $font-primary;
        font-weight: 500;
        font-size: 16px;
        &:hover{
          color: rgba($text-color,.8);
        }
      }
      &:nth-child(n+2){
        >a{
          border-top: 1px solid rgba(254, 245, 216, 0.6);
        }
      }
    }
  }
  .uk-navbar-nav{
    gap: 12px;
    >li{
      &.uk-active{
        >a{
          @extend .header__active;
        }
      }
      >a{
        @extend .header__item;
        text-transform: inherit;
        color: #000000;
        font-family: $font-primary;
        &[aria-expanded="true"],
        &:hover{
          @extend .header__active;
        }
        .uk-navbar-subtitle{
          margin-top: 8px;
        }
      }
    }
  }
}
.arrow_box{
  //position: relative;
  //background: #88b7d5;
  //border: 1px solid #{$primary-color};
  &:after,&:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  $x:8px;
  $w:2px;
  &:after{
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #{$primary-color};
    $y:calc(#{$x} - #{$w});
    border-width: #{$y};
    margin-left: calc(0px - #{$y});
  }
  &:before{
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #{$primary-color};
    border-width: #{$x};
    margin-left: calc(0px - #{$x});
  }
}